.alert {
    position: fixed;
    top: 70px; /* Adjust if you have a fixed navbar */
    right:  10px; /* Add space from the left side */
    width: 30%; /* Adjust to be 1/3 of the page width */
    background-color: #28a745;
    color: #ffffff; 
    text-align: center;
    padding: 1em;
    z-index: 1000; /* Ensure it appears above other content */
    border-radius: 5px; /* Add border radius for better styling */
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  